html{
    margin: 0;
    height: 100%;
}

#map { 
    position:absolute;
    top :0;
    bottom: 0;
    left:0;
    right: 40%;
}
#selector{
    width: 35%;
    margin-top:2%;
    margin-right: 2%;
    height:90%;
    right:0;
    position:absolute;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 3px rgba(120, 136, 179, 0.5);
    border-radius: 19px;
}

.wraplogin{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    
}
.errorMSG{
    background: #D83C3C;
    border-radius: 3px;
    width: 101px;
    height: 32px;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom:0%;
    
}
.errorTXT{
    height: 16px;
    left: 45px;
    right: 25px;
    top: 8px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
.titleConnect {
    margin-top:0;
    color:#33A8FF;
    font-size: 38px;
}
.nom{
    margin-top:0;
    color:#33A8FF;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.btnsubmit{
    color:white;
    border: 0px solid transparent;
    width: 185.15px;
    height: 46px;
    background: #33A8FF;
    box-shadow: 2px 2px 2px rgba(94, 94, 94, 0.25);
    border-radius: 4px;
}
.input1{
    width: 96%;
    height: 23px;
}
.input2{
    width: 96%;
    height: 23px;
}
.input3{
    width: 96%;
    height: 23px;
}
.login{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 3px rgba(120, 136, 179, 0.5);
    border-radius: 19px;
    padding:3%;
    color:#088CEF;
    font-size: large;
}
.wrapbtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#question{
    padding-bottom: 10px;
}
.test {
    z-index: 0;
    position:absolute;
    width: 100px;
    height: 100px;
    color:red;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:0;
    color:#33A8FF;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgwrap{
    display: flex;
    align-items: center;
    justify-content: center;
}