<!DOCTYPE html> <!-- proper HTML5 doctype -->
<html lang="fr">

<head>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" ></script>    
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
  	<meta charset="utf-8">
  	<title>Map page</title>
	<link href="./style/style.css" rel="stylesheet">

</head>

<body>
	<div  class="droppable"  id="map">
		
	</div>
	<div id="selector" class="selector">
		<div id="top" class="top">
			<div id="nom" class="nom"></div>
			
		</div>
		<div id="bas" class="bas">
			<h1>Vos adresses</h1>
			
		</div>
		<div class="wrap">
		<div id="adr" class="adr"></div>
			
		</div>
		<div class="wrapinput">

		
			<div id="addInput">

			</div>	
		</div>
		<div id='imgwrap' class='imgwrap'>
			<img width="100px" src="./images/add.jpg">
		</div>
		<div class="reload" id="reload">
			<img id='re' class="imgreload" width="55px" src="./images/reload.png">
			<img id='lo' class="imgreload" width="50px" src="./images/logout.png">
		</div>
	</div>
	
   
	
	
  	<script src="./script/script2.js"></script>

</body>
  
</html>