<!DOCTYPE html> <!-- proper HTML5 doctype -->
<html lang="fr">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  	<meta charset="utf-8">
  	<title>Map page</title>
	<link href="./View/style/style.css" rel="stylesheet">
	<style>
		.draggable { width: 3em; height: 3em; padding: 0.5em; float: left; margin: 2em 2em 5em 0; }
		#droppable { width: 15em; height: 15em; padding: 0.5em; margin: 10px; }
		</style>
</head>

<body>
	
    <div  class="droppable"  id="map">

	</div>
	<div id="selector" class="selector">
		<div id="top" class="top">
			<div id="nom" class="nom"></div>
			
		</div>
		<div id="bas" class="bas">
			<h1>Vos adresses</h1>
			
		</div>
		<div class="wrap">
		<div id="adr" class="adr"></div>
			
		</div>
		<div id="addInput">

		</div>	
		<div id='imgwrap' class='imgwrap'>
			<img width="100px" src="./View/images/add.jpg">
		</div>
	</div>
	
  	<script src="./View/script/script2.js"></script>

</body>
  
</html>